.App {
  text-align: center;
  background-color: rgb(236 236 236);
  height: 100vh;
}


.select_{
  width: 139%;
  margin-left: 59px;
  
}

.buttons{
  display:inline-flex;
  margin: 60px;
}


.Canvas {
  width: 640px;
  height: 360px;
}
.slid{
  text-align: center;
  width: 640px;
  height: 360px;
  background-size:cover;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
 
}

.TextArea {
  text-align: center;
  background-color: rgb(44, 144, 238);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.colorNav{
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
